  <!DOCTYPE html>
<meta charset="utf-8">
<html lang ="en">
<head>
<meta charset="UTF-8">
<meta content="utf-8" http-equiv="encoding">

<title>Enter in what you want to search, and we'll return you the Buzzfeed Indico sentiment and key words!</title>
<script src ="http://fb.me/react-0.12.2.js"></script>
<script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
<script src="http://mbostock.github.com/d3/d3.js"></script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>


  <h1>Sign up!</h1>
  <form>

                <input type="text" 
                placeholder="Username" 
                ref="textInput"
                 value={this.props.filterText}
                 onChange={this.handleChange}/>
                     <input type="text" 
                placeholder="UPassword" 
                ref="textInput"
                 value={this.props.filterText}
                 onChange={this.handleChange}/>


                
            </form>

            </body>
            </html>
            